{% extends "builder/builder.html" %}
<!--
    (c) Copyright 2016-2019 CERN for the benefit of the LHCb Collaboration

    This software is distributed under the terms of the GNU General Public
    Licence version 3 (GPL Version 3), copied verbatim in the file "COPYING".

    In applying this licence, CERN does not waive the privileges and immunities
    granted to it by virtue of its status as an Intergovernmental Organization
    or submit itself to any jurisdiction.
-->

{% block question %}
        
        <p class="lead">
            You have reached the end of this wizard.<br>
            Parts of the event number that could not be determined are marked with X.<br>
            The last two digits are rarely defined and can be set by the user.<br>
        </p>
        <p class="lead"> 
            If you're wondering which event types are taken, maybe the <a href="http://lhcbdoc.web.cern.ch/lhcbdoc/decfiles/">list of all LHCb DECFILES with corresponding event type</a> can help. </p>
        <p class="lead"> 
            If you think that the wizard could do better, or if you found a bug, <a href="https://gitlab.cern.ch/lhcb/eventtype/issues/new"> open an issue on GitLab.</a>
        </p>
      
{% endblock %}
