{% extends "resolver/base.html" %}
<!--
    (c) Copyright 2016-2019 CERN for the benefit of the LHCb Collaboration

    This software is distributed under the terms of the GNU General Public
    Licence version 3 (GPL Version 3), copied verbatim in the file "COPYING".

    In applying this licence, CERN does not waive the privileges and immunities
    granted to it by virtue of its status as an Intergovernmental Organization
    or submit itself to any jurisdiction.
-->



{% block content %}
        <h1>LHCb Unofficial Event Type Tools</h1>

    <p class="lead"> Online tools to help ease the confusion that comes with LHCb event type.</p>

    <p class="lead">The goal is to provide both 
    <ul>
        <li> a tool that deciphers the meaning of a given event type</li> 
        <li> and a wizard that helps find the correct event type of a decay.</li>
    </ul>
    The software is provided without any promise of correctness and is not meant as a replacement for the documentation. Please report any bugs you find on <a href="https://gitlab.cern.ch/lhcb/eventtype"> GitLab :)</a></p>
        <p class="lead"> Originally written by Konstantin Schubert</a></p>


      
{% endblock %}
