{% load static %}
<!--
    (c) Copyright 2016-2019 CERN for the benefit of the LHCb Collaboration

    This software is distributed under the terms of the GNU General Public
    Licence version 3 (GPL Version 3), copied verbatim in the file "COPYING".

    In applying this licence, CERN does not waive the privileges and immunities
    granted to it by virtue of its status as an Intergovernmental Organization
    or submit itself to any jurisdiction.
-->
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Find and resolve LHCb event type numbers">
    <meta name="author" content="Konstantin Schubert">

    <title>LHCb unofficial event type builder and resolver</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static "resolver/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static "resolver/css/custom.css" %}" rel="stylesheet">

    <!--KaTex stuff -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.5.1/katex.min.css">
    
    
    {% block header %}
    {% endblock %}


</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Start</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/build/">Event Type Builder</a>
                    </li>
                    <li>
                        <a href="/resolve/">Event Type Resolver</a>
                    </li>
                    <li>
                        <a href="/about/">About</a>
                    </li>
                </ul>
                <form class="navbar-form navbar-right" action="https://gitlab.cern.ch/lhcb/eventtype/issues/new">
                    <button type="submit" class="btn btn-danger">Report a bug</button>
                    <input type="hidden" name="body" id="gitbodyinput" value="">
                </form>

            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                {% block content %}
                {% endblock %}
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <h3 class="panel-title">Reminder</h3>
                    </div>
                    <div class="panel-body">
                                Please make sure you have read the internal note <a href="https://cds.cern.ch/record/855452?ln=en">LHCb-2005-034</a> before using these tools.
                    </div>
                </div>
            </div>
        </div>
        

    </div>
    <!-- /.container -->

    <!-- jQuery Version 1.11.1 -->
    <script src="{% static "resolver/js/jquery.js" %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static "resolver/js/bootstrap.min.js" %}"></script>
    <script src="{% static "resolver/js/custom.js" %}"></script>

    <!--KaTex stuff -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.5.1/katex.min.js"></script>
    <script src="{% static "resolver/js/auto-render.min.js" %}"></script>
    <script> renderMathInElement(document.body,{
              delimiters: [
                  {left: "$$", right: "$$", display: true},
                  {left: "$", right: "$", display: false},
              ]
          }); 
    </script>
    <script> 
        $(function() {
            $("#gitbodyinput").val("Issue with url: " + $(location).attr('href') + "\n" + "\n");
        });
    </script>
    
    {% block end %}
    {% endblock %}

</body>

</html>
