{% extends "resolver/base.html" %}
<!--
    (c) Copyright 2016-2019 CERN for the benefit of the LHCb Collaboration

    This software is distributed under the terms of the GNU General Public
    Licence version 3 (GPL Version 3), copied verbatim in the file "COPYING".

    In applying this licence, CERN does not waive the privileges and immunities
    granted to it by virtue of its status as an Intergovernmental Organization
    or submit itself to any jurisdiction.
-->

{% block content %}
        <h1>LHCb Unofficial Event Type Tools</h1>
    <div class="panel panel-warning">
        <div class="panel-heading">
            <h3 class="panel-title">Disclaimer: Use at your own risk.</h3>
        </div>
        <div class="panel-body">
            This website is intended to assist in the creation and understanding of event types used in the <a href="http://lhcbdoc.web.cern.ch/lhcbdoc/decfiles/">DecFiles</a> package.
            It is not a substitute for the rules documented in the internal note <a href="https://cds.cern.ch/record/855452?ln=en">LHCb-2005-034</a>, which you are strongly encouraged to read first.
            There are particular cases that are not described in the note&mdash;or are not covered yet&mdash;where only the LHCb Gauss Managers can make a decision.
            <br/>
            Please <a href="https://gitlab.cern.ch/lhcb/eventtype">report</a> any bugs you encounter.
        </div>
    </div>

    <div class="jumbotron">
        <h2>Event type builder</h2>

        <p class="lead">Use the wizard to find the right event type number for a decay.</p>

        <a href="/build/"><button class="btn btn-primary btn-lg">Start >> </button></a>

        
    </div>

    <div class="jumbotron">
        <h2>Event type resolver</h2>

        <p class="lead">Enter an 8-digit event type number and have the meaning of the numbers explained to you!</p>

        <form action="resolve/" >
            <div class="input-group" id="event_number_input_group">
                <span class="input-group-addon" id="basic-addon1">Event type: </span>
                <input type="text" class="form-control" pattern="[0-9]{8}" placeholder="8 digits" name="event_number_input" title="Must be an 8 digit integer.">
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit">Resolve it!</button>
                </span>
            </div>
        </form>
    </div>

      
{% endblock %}
